<meta name="viewport" content="width=1024, initial-scale=1">
<script nonce="1234a5b67d" src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
<script nonce="1234a5b67e" src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>
<style>
    #fullscreen-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
    }
    
    
    /* Ocultar el botón de VR desde el principio */
    .a-enter-vr-button {
    display: none;
    }
    .a-enter-ar-button {
    display: none;
    }    
  
</style>

<body style='margin: 0px; overflow: hidden; background-color: black;'>
    <button id="fullscreen-btn">Pantalla Completa</button>
    
    <a-scene embedded xr-mode-ui="enabled: false" vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">    

    
        <!-- Deshabilitar el control de movimientos -->
        <a-camera look-controls="enabled: false" wasd-controls="enabled: false"></a-camera> 
        
        <!-- Fijar la cámara manualmente y eliminar controles -->
        <a-entity id="fixed-camera" camera position="0 1.6 0" rotation="0 0 0"></a-entity>


        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/veoveo_aves_-_tuky_animado/scene.gltf)"
            animation-mixer
            position="-2 0 -10"
            rotation="0 0 0"
            scale=".4 .4 .4">     
        </a-entity>    

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/falling_leaves/scene.gltf)"
            animation-mixer
            position="-1 0 -25"
            rotation="1 1 1"
            scale="15 15 15">     
        </a-entity>

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/whispering_elm_tree/scene.gltf)"
            animation-mixer
            position="-2 0 -2"
            rotation="0 0 0"
            scale="1 1 1">     
        </a-entity>  

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/plants_kit/scene.gltf)"
            animation-mixer
            position="3 0 -35"
            rotation="0 0 0"
            scale="1 1 1">     
        </a-entity>

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/pale_radiance_tree/scene.gltf)"
            animation-mixer
            position="-4 0 -15"
            rotation="0 0 0"
            scale="1 1 1">     
        </a-entity>

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/dreamweaver_tree/scene.gltf)"
            animation-mixer
            position="-1 0 -25"
            rotation="0 0 0"
            scale="1 1 1">     
        </a-entity>      

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/white_eagle_animation_fast_fly/scene.gltf)"
            animation-mixer
            position="3 8 -25"
            animation="property: position; from: -10 8 -25; to: 10 8 -25; dur: 5000; loop: true; dir: normal;"
            rotation="15 15 15"
            scale=".05 .05 .05">     
        </a-entity>

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/butterfly_-_blend_fbx_file/scene.gltf)"
            animation-mixer
            animation="property: position; from: 0 0 -20; to: -10 0 -20; dur: 5000; loop: true; dir: normal;"
            position="2 0 60"
            rotation="0 480 0"
            scale="3 3 3">     
        </a-entity>

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/12_animated_butterflies/scene.gltf)"
            animation-mixer
            position="3 0 -5"
            rotation="0 0 0"
            scale="1 1 1">     
        </a-entity>

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/colibri/scene.gltf)"
            animation-mixer
            position="-1 0 -15"
            rotation="0 0 0"
            scale="2 2 2">     
        </a-entity>

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/nimbus_willow_tree/scene.gltf)"
            animation-mixer
            position="4 0 -7"
            rotation="0 0 0"
            scale="1 1 1">     
        </a-entity>

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/butterflies/scene.gltf)"
            animation-mixer
            position="7 0 -150"
            rotation="0 0 0"
            scale=".1 .1 .1">     
        </a-entity>

        <a-scene>
            <a-sound src="src: url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/nature-soundstropicaljunglebirds-108380.mp3)" autoplay="true" position="0 0 0"></a-sound>
        </a-scene>

        <a-entity 
            gltf-model="url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/lowpoly_humming-bird_animated/scene.gltf)"
            animation-mixer
            position="5 0 -15"
            rotation="0 0 0"
            scale=".5 .5 .5">     
        </a-entity>

    </a-scene>

    <script nonce="1234a5b67c">
        // Script para añadir más funcionalidad
    </script>
    
    
    <script>
      document.getElementById('fullscreen-btn').addEventListener('click', function() {
        var elem = document.documentElement;
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { // Firefox
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { // Chrome, Safari and Opera
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { // IE/Edge
          elem.msRequestFullscreen();
        }
        // Hacer desaparecer el botón después de hacer clic
        this.style.display = 'none';		
      });

    </script>	    
    
    
    
    
    
    
    
    

</body>