
	<!-- <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-eval' 'strict-dynamic' 'unsafe-inline' 'self' http: https: https://d301sr5gafysq2.cloudfront.net nonce-1234a5b67c nonce-1234a5b67d nonce-1234a5b67e nonce-1234a5b67f nonce-1234a5b67g "> -->

<script nonce="1234a5b67d" src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
<script nonce="1234a5b67e" src="https://cdn.rawgit.com/donmccurdy/aframe-extras/v3.13.1/dist/aframe-extras.min.js"></script>
<script nonce="1234a5b67f" src="https://rawcdn.githack.com/lecsdexter/AR-material/f05a1097e3ef5acfa7c04375af5860847291b3cd/aframe-ar.js"></script>
<script nonce="1234a5b67g">THREEx.ArToolkitContext.baseURL = 'https://rawgit.com/jeromeetienne/ar.js/master/three.js/'</script>



<body style='margin : 0px; overflow: hidden;'>


	<a-scene id="baile-scene" embedded arjs='sourceType: webcam;'>

		<a-entity 
		    gltf-model="url(https://rawcdn.githack.com/KhronosGroup/glTF-Sample-Models/0bbfedda698c95d280c78e8dae1c587f1a54276d/2.0/BrainStem/glTF/BrainStem.gltf)"
		    animation-mixer
		    position = "0 0 -20"
		    scale = "1 1 1">      
		</a-entity>

		<a-marker preset='custom' type='pattern' url='https://rawgit.com/lecsdexter/AR-material/master/RepoImagenesTest/pattern-marker.patt'></a-marker>  			
		
	</a-scene>



	<script nonce="1234a5b67c">

	var str_camera = "a-marker"; 

	var el = document.querySelector("#baile-scene");
	el.setAttribute("visible",false);

	setInterval(function(){ 
	  if(document.querySelector(str_camera).object3D.visible == true) {
	      el.setAttribute("visible",true);
		  console.log("marcador encontrado");
	  }else{
	  }
	}, 1000);



	setInterval(function(){ 
	  if(document.querySelector(str_camera).object3D.visible == false) {
	      el.setAttribute("visible",false);
		  console.log("marcador NO encontrado");
	  }else{
	  }
	}, 3000);	


	</script>




</body>

