<!-- Augmented Reality on the Web in 10 lines of html! https://github.com/jeromeetienne/ar.js --> 
<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/donmccurdy/aframe-extras/v3.13.1/dist/aframe-extras.min.js"></script>
<script src="https://rawgit.com/lecsdexter/AR-material/master/aframe-ar.js"></script>
<script>THREEx.ArToolkitContext.baseURL = 'https://rawgit.com/jeromeetienne/ar.js/master/three.js/'</script>
<body style='margin : 0px; overflow: hidden;'>


	<a-scene id="marina-scene" embedded arjs='sourceType: webcam;'>


		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/aetobatus_narinari/scene.gltf)"
		    animation-mixer
		    rotation = "0 180 0"
		    scale = "0.1 0.1 0.1">  
		    <a-animation 
		  		attribute="position" 
		  		from="0 0 -50" 
		  		to = "0 0 -20" 
		  		begin = "0"
		  		dur="10500" 
		  		repeat="normal" 
		  		direction="alternate-reverse">	
	  		</a-animation>    
		</a-entity>    



 		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/anisotremus_virginicus/scene.gltf)"
		    animation-mixer
		    position = "-10 10 -30"
		    scale = "0.3 0.3 0.3">     
		</a-entity>       



<!--  No aparecen sus ojos y no respeta posicion ni escala   -->
<!-- 		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/bream_fish/scene.gltf)"
		    animation-mixer
		    rotation = "0 90 0"
		    position = "0 0 -50"
		    scale = "0.1 0.1 0.1">      
		</a-entity>   --> 




		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/calmus_calamus/scene.gltf)"
		    animation-mixer
		    rotation = "0 90 0"
		    scale = "1 1 1"> 
		    <a-animation 
		  		attribute="position" 
		  		from="-50 0 -30" 
		  		to = "50 0 -30" 
		  		begin = "0"
		  		dur="30500" 
		  		repeat="normal" 
		  		direction="normal">	
	  		</a-animation> 		         
		</a-entity>    





		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/discus_3/scene.gltf)"
		    animation-mixer
		    position = "20 -5 -100"
		    scale = "0.1 0.1 0.1">      
		</a-entity>




		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/guppie_animated/scene.gltf)"
		    animation-mixer
		    rotation = "0 0 -20"
		    scale = "0.1 0.1 0.1">   
		    <a-animation 
		  		attribute="position" 
		  		from = "-70 30 -70"
		  		to = "70 0 -70" 
		  		begin = "0"
		  		dur="30500" 
		  		repeat="normal" 
		  		direction="normal">	
	  		</a-animation>    
		</a-entity>




		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/guppy_fish/scene.gltf)"
		    animation-mixer
		    position = "10 10 -20"
		    scale = "0.1 0.1 0.1">      
		</a-entity>




		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/hippocampus_erectus/scene.gltf)"
		    animation-mixer
		    position = "-5 0 -15"
		    rotation = "0 90 0"
		    scale = "0.3 0.3 0.3">      
		</a-entity>




		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/octopus/scene.gltf)"
		    animation-mixer
		    position = "5 0 -10"
		    scale = "1 1 1">  
		    <a-animation 
		  		attribute="rotation" 
		  		from = "0 0 0"
		  		to = "0 360 0" 
		  		begin = "10000"
		  		dur="30500" 
		  		repeat="indefinite" 
		  		direction="alternate-reverse">	
	  		</a-animation>   		        
		</a-entity>



<!--




		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/panulirus_argus/scene.gltf)"
		    animation-mixer
		    position = "0 20 -20"
		    scale = "1 1 1">      
		</a-entity>


		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/pomacanthus_arcuatus/scene.gltf)"
		    animation-mixer
		    position = "0 20 -20"
		    scale = "1 1 1">      
		</a-entity>


		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/pomacanthus_paru/scene.gltf)"
		    animation-mixer
		    position = "20 0 -20"
		    scale = "1 1 1">      
		</a-entity>


		-->



		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/shark/scene.gltf)"
		    animation-mixer
		    rotation = "0 90 0"
		    scale = "1 1 1"> 
		    <a-animation 
		  		attribute="position" 
		  		from = "-10 3 -10"
		  		to = "10 3 -10" 
		  		dur="30500" 
		  		repeat="normal" 
		  		direction="normal">	
	  		</a-animation> 		         
		</a-entity>


<!--

		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/sphyraena_barracuda/scene.gltf)"
		    animation-mixer
		    position = "20 20 -20"
		    scale = "1 1 1">      
		</a-entity>


		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/stingray/scene.gltf)"
		    animation-mixer
		    position = "20 20 -20"
		    scale = "1 1 1">      
		</a-entity>



		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/turtle-idle/scene.gltf)"
		    animation-mixer
		    position = "0 0 -30"
		    scale = "1 1 1">      
		</a-entity> -->



<!--		<a-marker preset='custom' type='pattern' url='https://rawgit.com/lecsdexter/AR-material/master/RepoImagenesTest/pattern-marker.patt'></a-marker>   --> 
<!--		<a-marker preset='custom' type='pattern' url='https://rawgit.com/lecsdexter/AR-material/master/RepoImagenesTest/pattern-marker_navic_door_qr.patt'></a-marker>   --> 
		
<!--		<a-marker preset='custom' type='pattern' url='https://rawgit.com/lecsdexter/AR-material/master/RepoImagenesTest/gota_patt.patt'></a-marker> -->
			<a-marker preset='custom' type='pattern' url='https://rawgit.com/lecsdexter/AR-material/master/RepoImagenesTest/gota_color_borde_grande_patt.patt'></a-marker>  
		
	</a-scene>



	<script>

	var str_camera = "a-marker"; 

	var el = document.querySelector("#marina-scene");
	el.setAttribute("visible",false);

	setInterval(function(){ 
	  if(document.querySelector(str_camera).object3D.visible == true) {
	      el.setAttribute("visible",true);
		  console.log("marcador encontrado");
	  }else{
	  }
	}, 1000);



	setInterval(function(){ 
	  if(document.querySelector(str_camera).object3D.visible == false) {
	      el.setAttribute("visible",false);
		  console.log("marcador NO encontrado");
	  }else{
	  }
	}, 3000);	


	</script>




</body>

