<script nonce="1234a5b67d" src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
<script nonce="1234a5b67e" src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>
    <style>
      #fullscreen-btn {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px;
		background-color: #333;
	    color: #fff;
        border: none;
        cursor: pointer;
        z-index: 1;
      }
	  
      /* Ocultar el botón de VR desde el principio */
      .a-enter-vr-button {
      display: none;
      }
      .a-enter-ar-button {
      display: none;
      }  	  
	  
    </style>
	
<body style='margin: 0px; overflow: hidden; background-color: black;'>
    <button id="fullscreen-btn">Pantalla Completa</button>
	
    <a-scene id="marina-scene" embedded xr-mode-ui="enabled: false" vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false">
	
        <!-- Deshabilitar el control de movimientos -->
        <a-camera look-controls="enabled: false" wasd-controls="enabled: false"></a-camera> 
        
        <!-- Fijar la cÃ¡mara manualmente y eliminar controles -->
        <a-entity id="fixed-camera" camera position="0 1.6 0" rotation="0 0 0"></a-entity>
		
		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@master/RepoImagenesTest/SKETCHFAB/aetobatus_narinari/scene.gltf)"
		    animation-mixer
		    rotation = "0 180 0"		    
		    scale = "0.1 0.1 0.1"
		    animation = " 
		        property: position;
		  		from: 0 0 -30; 
		  		to: 0 0 -7; 
		  		begin: 0;
		  		dur: 10500; 
		  		loop: true; 
		  		dir: alternate;
		  	"
		>	  		   
		</a-entity>  
		
	
		
 		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/anisotremus_virginicus/scene.gltf)"
		    animation-mixer
		    position = "15 -5 -15"
		    scale = "0.3 0.3 0.3">     
		</a-entity>       
		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/calmus_calamus/scene.gltf)"
		    animation-mixer
		    rotation = "0 90 0"
		    scale = "5 5 5" 
		    animation = " 
		  		property: position;
		  		from: -70 -15 -30; 
		  		to: 70 -15 -30;
		  		begin: 0;
		  		dur: 30500; 
		  		loop: true; 
		  		dir: normal;
	  		" 		       
	  	>  
		</a-entity>    
		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/discus_3/scene.gltf)"
		    animation-mixer
		    position = "20 0 -60"
		    scale = "0.2 0.2 0.2">      
		</a-entity>
		
		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/guppie_animated/scene.gltf)"
		    animation-mixer
		    rotation = "0 0 -20"
		    scale = "0.1 0.1 0.1"  
		    animation = " 
		  		property: position;
		  		from: -80 15 -40;
		  		to: 80 -15 -40; 
		  		begin: 0;
		  		dur: 30500;
		  		loop: true;
		  		dir: normal;
	  		"
	  	>
		</a-entity> 
		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/guppy_fish/scene.gltf)"
		    animation-mixer
		    position = "10 7 -10"
		    scale = "0.3 0.3 0.3">      
		</a-entity>
		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/hippocampus_erectus/scene.gltf)"
		    animation-mixer
		    position = "15 3 -15"
		    rotation = "0 90 0"
		    scale = "0.4 0.4 0.4">      
		</a-entity>
		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/octopus/scene.gltf)"
		    animation-mixer
		    position = "0 5 -5"
		    scale = "1 1 1"  
		    animation = " 
		  		property: rotation;
		  		from: 0 0 0;
		  		to: 0 360 0; 
		  		begin: 10000;
		  		dur: 30500;
		  		loop: true;
		  		dir: alternate;
	  		"
	  	>
		</a-entity>
		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/shark/scene.gltf)"
		    animation-mixer
		    rotation = "0 90 0"
		    scale = "1 1 1" 
		    animation = " 
		  		property: position;
		  		from: -30 -1 -10;
		  		to: 30 -1 -10;
		  		dur: 20000; 
		  		loop: true;
		  		dir: normal;
	  		" 		         
	  	>
		</a-entity>
        
     
        <!--<a-scene>
            <a-sound src="src: url(https://cdn.jsdelivr.net/gh/yirart-hue/Bos@main/nature-soundstropicaljunglebirds-108380.mp3)" autoplay="true" position="0 0 0"></a-sound>
        </a-scene>
		-->
     
          
       
	</a-scene>
	
	
	<script nonce="1234a5b67c">
	</script>
	
	
	
    <script>
      document.getElementById('fullscreen-btn').addEventListener('click', function() {
        var elem = document.documentElement;
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { // Firefox
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { // Chrome, Safari and Opera
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { // IE/Edge
          elem.msRequestFullscreen();
        }
        // Hacer desaparecer el botón después de hacer clic
        this.style.display = 'none';		
      });

    </script>	
	
	
	
</body>