.table-wrapper {
    background: #FFFFFF;
    margin: 30px 0;
    padding: 20px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px 5px #B1B1B1;
    -webkit-box-shadow: 0 0 10px 5px #B1B1B1;
    box-shadow: 0 0 10px 5px #B1B1B1;
}

    .table-wrapper form .form-row {
        padding: 10px 0 20px 0;
    }


.container .btn.btn-primary,.btn-info{
    background-color:#1D709A;
    border-color: #1D709A;
}

