<script nonce="1234a5b67d" src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
<script nonce="1234a5b67e" src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>
<script nonce="1234a5b67f" src="https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@master/aframe-ar.js"></script>


<body style='margin : 0px; overflow: hidden;'>

	<a-scene id="flores_scene" embedded arjs='sourceType: webcam;'>

 		<a-entity 
		    gltf-model="url(https://rawcdn.githack.com/lecsdexter/AR-material/4f0a3c22b2695f1e0f0b805dc0c2b678fc1b0328/RepoImagenesTest/Flores/april_flowers/scene.gltf)"
		    animation-mixer
			position = "0 0 -20"
			rotation = "90 0 0"
		    scale = "0.7 0.7 0.7">     
		</a-entity>       

		<a-marker preset='custom' type='pattern' url='https://rawgit.com/lecsdexter/AR-material/master/RepoImagenesTest/pattern-marker.patt'></a-marker>  			
		
	</a-scene>



	<script nonce="1234a5b67c">

	var str_camera = "a-marker"; 

	var el = document.querySelector("#flores_scene");
	el.setAttribute("visible",false);

	setInterval(function(){ 
	  if(document.querySelector(str_camera).object3D.visible == true) {
	      el.setAttribute("visible",true);
		  //console.log("marcador encontrado");
	  }else{
	  }
	}, 1000);



	setInterval(function(){ 
	  if(document.querySelector(str_camera).object3D.visible == false) {
	      el.setAttribute("visible",false);
		  //console.log("marcador NO encontrado");
	  }else{
	  }
	}, 3000);	


	</script>




</body>

