<script nonce="1234a5b67d" src="https://aframe.io/releases/1.1.0/aframe.min.js"></script>
<script nonce="1234a5b67e" src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>
<script nonce="1234a5b67f" src="https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@master/aframe-ar.js"></script>


<body style='margin : 0px; overflow: hidden;'>


	<a-scene id="marina-scene" embedded arjs='sourceType: webcam;'>


		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@master/RepoImagenesTest/SKETCHFAB/aetobatus_narinari/scene.gltf)"
		    animation-mixer
		    rotation = "0 180 0"		    
		    scale = "0.1 0.1 0.1"
		    animation = " 
		        property: position;
		  		from: 0 0 -50; 
		  		to: 0 0 -20; 
		  		begin: 0;
		  		dur: 10500; 
		  		loop: true; 
		  		dir: alternate;
		  	"
		>	  		   
		</a-entity>  
		

 		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/anisotremus_virginicus/scene.gltf)"
		    animation-mixer
		    position = "-10 -5 -30"
		    scale = "0.3 0.3 0.3">     
		</a-entity>       


		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/calmus_calamus/scene.gltf)"
		    animation-mixer
		    rotation = "0 90 0"
		    scale = "1 1 1" 
		    animation = " 
		  		property: position;
		  		from: -50 -15 -30; 
		  		to: 50 -15 -30;
		  		begin: 0;
		  		dur: 30500; 
		  		loop: true; 
		  		dir: normal;
	  		" 		       
	  	>  
		</a-entity>    


		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/discus_3/scene.gltf)"
		    animation-mixer
		    position = "20 -20 -100"
		    scale = "0.1 0.1 0.1">      
		</a-entity>


		
		<a-entity 
		    gltf-model="url(https://cdn.rawgit.com/lecsdexter/AR-material/7a47500b/RepoImagenesTest/SKETCHFAB/guppie_animated/scene.gltf)"
		    animation-mixer
		    rotation = "0 0 -20"
		    scale = "0.1 0.1 0.1"  
		    animation = " 
		  		property: position;
		  		from: -70 15 -70;
		  		to: 70 -15 -70; 
		  		begin: 0;
		  		dur: 30500;
		  		loop: true;
		  		dir: normal;
	  		"
	  	>
		</a-entity> 




		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/guppy_fish/scene.gltf)"
		    animation-mixer
		    position = "10 -5 -20"
		    scale = "0.1 0.1 0.1">      
		</a-entity>




		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/hippocampus_erectus/scene.gltf)"
		    animation-mixer
		    position = "-5 -15 -15"
		    rotation = "0 90 0"
		    scale = "0.3 0.3 0.3">      
		</a-entity>




		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/octopus/scene.gltf)"
		    animation-mixer
		    position = "5 0 -10"
		    scale = "1 1 1"  
		    animation = " 
		  		property: rotation;
		  		from: 0 0 0;
		  		to: 0 360 0; 
		  		begin: 10000;
		  		dur: 30500;
		  		loop: true;
		  		dir: alternate;
	  		"
	  	>
		</a-entity>



		<a-entity 
		    gltf-model="url(https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@7a47500bcaf44769d376d1d232a0c1f54f0c672c/RepoImagenesTest/SKETCHFAB/shark/scene.gltf)"
		    animation-mixer
		    rotation = "0 90 0"
		    scale = "1 1 1" 
		    animation = " 
		  		property: position;
		  		from: -10 -3 -10;
		  		to: 10 -3 -10;
		  		dur: 30500; 
		  		loop: true;
		  		dir: normal;
	  		" 		         
	  	>
		</a-entity>

		<!-- <a-marker preset='custom' type='pattern' url='https://cdn.jsdelivr.net/gh/lecsdexter/AR-material@master/RepoImagenesTest/pattern-marker.patt'></a-marker>  -->
		
	</a-scene>



	<script nonce="1234a5b67c">

	//var str_camera = "a-marker"; 

	//var el = document.querySelector("#marina-scene");
	//el.setAttribute("visible",false);

	//setInterval(function(){ 
	//  if(document.querySelector(str_camera).object3D.visible == true) {
	//      el.setAttribute("visible",true);
	//	  console.log("marcador encontrado");
	//  }else{
	//  }
	//}, 1000);



	//setInterval(function(){ 
	//  if(document.querySelector(str_camera).object3D.visible == false) {
	//      el.setAttribute("visible",false);
	//	  console.log("marcador NO encontrado");
	//  }else{
	//  }
	//}, 3000);		


	</script>




</body>
