<!-- Augmented Reality on the Web in 10 lines of html! https://github.com/jeromeetienne/ar.js --> 
<script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
<script src="https://rawgit.com/jeromeetienne/ar.js/master/aframe/build/aframe-ar.js"></script>
<script>THREEx.ArToolkitContext.baseURL = 'https://rawgit.com/jeromeetienne/ar.js/master/three.js/'</script>
<body style='margin : 0px; overflow: hidden;'>
  <a-scene embedded arjs='sourceType: webcam;'>
	  <a-assets>
	    <img id="nadir-up" crossorigin="anonymous" src="https://cdn.rawgit.com/lecsdexter/Imagenes/90df23fc/RepoImagenesTest/pescadonadirEspY.png">
	  </a-assets>
	  <a-assets>
	    <img id="nadir-down" crossorigin="anonymous" src="https://cdn.rawgit.com/lecsdexter/Imagenes/90df23fc/RepoImagenesTest/pescadonadirEspX.png">
	  </a-assets>	
	  <a-assets>
	    <img id="nadir-up2" crossorigin="anonymous" src="https://cdn.rawgit.com/lecsdexter/Imagenes/7ae7e78b/RepoImagenesTest/pescadonadir.png">
	  </a-assets>	    
	  <a-assets>
	    <img id="nadir-down2" crossorigin="anonymous" src="https://cdn.rawgit.com/lecsdexter/Imagenes/90df23fc/RepoImagenesTest/pescadonadirEspXY.png">
	  </a-assets>		  

	  <a-image src="#nadir-up">
	  	<a-animation 
	  		attribute="position" 
	  		from="-3 -3 -3" 
	  		to = "0 3 0" 
	  		begin = "0000"
	  		dur="1500" 
	  		repeat="indefinite" 
	  		direction="normal">	
	  	</a-animation>
	  </a-image>


	  <a-image src="#nadir-down">
	  	<a-animation 
	  		attribute="position" 
	  		from="0 3 0" 
	  		to = "3 -3 3" 
	  		begin = "0"
	  		dur="1500" 
	  		repeat="indefinite" 
	  		direction="normal">	
	  	</a-animation>
	  </a-image>




	  <a-marker-camera preset='kanji'></a-marker-camera>  
  </a-scene>
</body>
